body {
  background-color: violet;
  color: yellow;
  font-family: "comic sans", sans-serif;
  /* background: url("../assets/img/background/prettybluedotsbg.gif"); */
  background: url("../assets/img/background/kitty-background.jpg") no-repeat;
  background-size: 100% auto; /* Make the image fit the width */
  background-repeat: repeat-y; /* Repeat the image vertically */
  cursor: auto; /* Default cursor */
  margin: 0;
}

@font-face {
  font-family: "comic sans";
  src: url("../../../fonts/COMICSANS.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-button {
  display: flex;
  gap: 8rem;
  padding-top: 4rem;
}

#save {
  font-size: 2rem;
  color: blue;
  background-color: yellow;
  background: linear-gradient(to bottom, #bcf733 5%, hsl(58, 100%, 50%) 100%);
  box-shadow: 3px 4px 0px 0px hsla(58, 100%, 22%, 0.613);
  border: 1px solid #bcf733;
  text-decoration: none;
  font-family: monospace;
  padding: 16px 38px;
  border-radius: 44px;
  cursor: pointer;
}

#save:hover {
  background: linear-gradient(to bottom, hsl(58, 100%, 50%) 5%, #bcf733 100%);
  background-color: hsl(58, 100%, 50%);
}

#save:active {
  position: relative;
  top: 1px;
}

@media (max-width: 550px) {
  /* Phones */
  #save {
    font-size: 1rem;
  }
}

/* seccion para los tipos de colores*/
#color-1 {
  position: absolute;
  left: 16%;
  top: 172%;
  text-align: center;
  font-size: 1.5rem;
  max-width: 70%;
}

#color-2 {
  position: absolute;
  top: 600px;
  font-size: 20px;
}

#color-3 {
  position: absolute;
  top: 550px;
  font-size: 50px;
}

#color-4 {
  position: absolute;
  top: 700px;
  left: 50px;
  font-size: 60px;
}

#color-5 {
  position: absolute;
  top: 750px;
  left: 290px;
  font-size: 35px;
}

#color-6 {
  position: absolute;
  top: 700px;
  left: 360px;
  font-size: 20;
}

#borrador {
  position: absolute;
  top: 580px;
  font-size: 7px;
  left: 500px;
}
/* seccion para los tipos de trazo*/
#size-title {
  font-size: 1.5rem;
  text-align: center;
  width: 70%;
  padding-top: 3rem;
}

.select-size {
  padding-top: 5rem;
  text-align: center;
  font-size: 2rem;
  padding-right: 2rem;
}

#color-title {
  display: flex;
  gap: 2rem;
}
@media (max-width: 550px) {
  /* Phones */
  #color-title {
    gap: 1rem;
  }
}

.titles {
  padding-top: 4rem;
}

#secondary-title {
  font-size: 2rem;
  text-align: center;
  margin-top: -6rem;
}
@media (max-width: 550px) {
  /* Phones */
  #secondary-title {
    margin-top: -1.5rem;
    font-size: 1.5rem;
  }
}

/* Phones */
@media (max-width: 550px) {
  .secondary-title {
    margin-top: -3rem;
  }
}

#canvas-container {
  padding-top: 4rem;
}

.description-container {
  display: flex;
  max-width: 68%;
  padding-top: 4rem;
  font-size: 1.4rem;
}

@media (max-width: 1100px) {
  /* Phones */
  .description-container {
    text-align: start;
    max-width: 64%;
  }
}

.description-container h3 {
  text-align: center;
}

.kitty-image {
  padding-bottom: 0.7rem;
}

.cursor-brush-red {
  cursor: url("../assets/img/cursor/brush-red.png"), auto;
}
.cursor-brush-yellow {
  cursor: url("../assets/img/cursor/brush-yellow.png"), auto;
}
.cursor-brush-blue {
  cursor: url("../assets/img/cursor/brush-blue.png"), auto;
}
.cursor-brush-green {
  cursor: url("../assets/img/cursor/brush-green.png"), auto;
}
.cursor-brush-black {
  cursor: url("../assets/img/cursor/brush-black.png"), auto;
}

/* seccion para las letras del titulo*/
#titulo-1 {
  font-size: 6rem;
}

#titulo-2 {
  font-size: 5rem;
  color: red;
}

#titulo-3 {
  font-size: 5rem;
}

#titulo-4 {
  font-size: 7rem;
  color: blue;
}

#titulo-5 {
  font-size: 4rem;
  color: blue;
}

#titulo-6 {
  font-size: 6rem;
}

#titulo-7 {
  font-size: 10rem;
  color: red;
}

@media (max-width: 550px) {
  /* Phones */
  #titulo-1 {
    font-size: 2.5rem;
  }
  #titulo-2 {
    font-size: 1.5rem;
  }
  #titulo-3 {
    font-size: 1.5rem;
  }
  #titulo-4 {
    font-size: 2.5rem;
  }
  #titulo-5 {
    font-size: 1.5rem;
  }
  #titulo-6 {
    font-size: 2.5rem;
  }
  #titulo-7 {
    font-size: 4.5rem;
  }
}

div.img {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.img:hover {
  border: 1px solid #777;
}

div.img img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#img-dibuja-1 {
  position: absolute;
  top: 24%;
  left: 9%;
}

#img-dibuja-4 {
  position: absolute;
  top: 32%;
  left: 84%;
}
#img-dibuja-5 {
  position: absolute;
  top: 65%;
  left: 81%;
}
#img-dibuja-6 {
  position: absolute;
  top: 79%;
  left: 91%;
}
#img-dibuja-7 {
  position: absolute;
  top: 57%;
  left: 7%;
}
#img-dibuja-8 {
  position: absolute;
  top: 153%;
  left: 23%;
}
#img-dibuja-9 {
  position: absolute;
  top: 100%;
  left: 15%;
}
#img-dibuja-10 {
  position: absolute;
  top: 88%;
  left: 3%;
}
#img-dibuja-11 {
  position: absolute;
  top: 86%;
  left: 76%;
}
#img-dibuja-12 {
  position: absolute;
  top: 158%;
  left: 68%;
}

@media (max-width: 1350px) {
  /* Phones */
  #img-dibuja-1 {
    display: none;
  }
  #img-dibuja-2 {
    display: none;
  }
  #img-dibuja-3 {
    display: none;
  }
  #img-dibuja-4 {
    display: none;
  }
  #img-dibuja-5 {
    display: none;
  }
  #img-dibuja-6 {
    display: none;
  }
  #img-dibuja-7 {
    display: none;
  }
  #img-dibuja-8 {
    display: none;
  }
  #img-dibuja-9 {
    display: none;
  }
  #img-dibuja-10 {
    display: none;
  }
  #img-dibuja-11 {
    display: none;
  }
  #img-dibuja-12 {
    display: none;
  }
}

/* color circles */
.paint-options {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.circles {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.circle {
  width: 6rem;
  height: 6rem;
  border-radius: 50%; /* This makes the divs circular */
  cursor: pointer; /* Pointer cursor to indicate it's clickable */
  user-select: none; /* Prevents text selection */
}

@media (max-width: 550px) {
  /* Phones */
  .circle {
    width: 2.6rem;
    height: 2.6rem;
  }
}

#circle-black {
  background-color: black;
}

#circle-blue {
  background-color: blue;
}

#circle-green {
  background-color: rgb(31, 255, 0);
}

#circle-yellow {
  background-color: yellow;
}

#circle-red {
  background-color: red;
}

.page-explanation-container {
  font-size: 1.4rem;
  text-align: center;
  max-width: 68%;
}
@media (max-width: 1100px) {
  /* Phones */
  .page-explanation-container {
    max-width: 64%;
    text-align: center;
  }
}

.select-brush-size {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 550px) {
  /* Phones */
  .select-brush-size {
    flex-direction: column;
    font-size: 1.4rem;
    align-items: center;
  }
}

#stroke-width {
  font-size: 2rem;
}

@media (max-width: 550px) {
  /* Phones */
  #stroke-width {
    font-size: 0.9rem;
  }
}
.paint-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 68%;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

#loading-post-paint {
  font-size: 2rem;
  margin-top: 4rem;
}
