<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../favicon.ico" />
    <title>screenshots zine</title>

    <!-- meta tags -->
    <meta
      name="description"
      content="Screenshots es un zine que explora la relación entre las capturas de pantalla tomadas con un teléfono móvil y la creatividad. Descubre cómo las capturas de pantalla pueden afectar tu creatividad con nuestra herramienta interactiva."
    />
    <meta
      name="keywords"
      content="zine, creatividad, capturas de pantalla, herramienta interactiva"
    />
    <meta name="author" content="Emi" />
    <meta name="robots" content="index, follow" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://bebeto-pizza.vercel.app/screenshots.html"
    />
    <meta property="og:title" content="screenshots zine" />
    <meta
      property="og:description"
      content="Screenshots es un zine que explora la relación entre las capturas de pantalla tomadas con un teléfono móvil y la creatividad. Descubre cómo las capturas de pantalla pueden afectar tu creatividad con nuestra herramienta interactiva."
    />
    <meta
      property="og:image"
      content="https://bebeto-pizza.vercel.app/meta/screenshots/screenshots.jpg"
    />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://bebeto-pizza.vercel.app/screenshots.html"
    />
    <meta property="twitter:title" content="screenshots zine" />
    <meta
      property="twitter:description"
      content="Screenshots es un zine que explora la relación entre las capturas de pantalla tomadas con un teléfono móvil y la creatividad. Descubre cómo las capturas de pantalla pueden afectar tu creatividad con nuestra herramienta interactiva."
    />
    <meta
      property="twitter:image"
      content="https://bebeto-pizza.vercel.app/meta/screenshots/screenshots.jpg"
    />
  </head>
  <body>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script> -->
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.168.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.168.0/examples/jsm/"
        }
      }
    </script>
    <% for (var i=0; i < htmlWebpackPlugin.files.js.length; i++) { %>
    <script type="module" src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
    <% } %>
  </body>
</html>
